// $box-shadow-black: 0px 0px 20px rgba(8, 9, 10, 0.3),
// 0px 4px 20px rgba(0, 0, 0, 0.4);
$box-shadow-black: 0px 5px 20px rgba(0, 0, 0, 0.473);
// $box-shadow-cold: 0px 2px 20px #04abff,
// 0px 4px 20px #0d2e99;
$box-shadow-cold: 0px 5px 20px #B8E7E8;
$sectionCold: #B8E7E8;
$titleCold: #2081c3;
$textCold: #4cabcd;