$box-shadow-black: 0px 5px 20px rgba(0, 0, 0, 0.473);
$box-shadow-cold: 0px 5px 20px #B8E7E8;
//theme Cold
$sectionCold: #B8E7E8;
$titleCold: #11507a;
$textCold: #031961;
//Theme Hot
$sectionHot: #FFD181;
$titleHot: #FFAB41;
$textHot: #FF9201;
//Theme Good
$sectionGood: #CEE9B6;
$titleGood: #5E9387;
$textGood: #2D8D79;
//popover
$background-transparent: rgba(0, 0, 0, 0.5);